body {
  background-color: snow;
}
h1 {
  color: teal;
}
article {
  background-color: honeydew;
}
p {
  color: gray;
}
h3,
h4 {
  color: cadetblue;
}

.link-item:hover {
  color: cadetblue;
}
